/* Estilo básico de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Título */
.main-title {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilo de las preguntas */
.question {
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo de las opciones */
.btn-option {
    background-color: #f1f1f1;
    color: #007BFF;
    margin: 5px;
}

/* Estilo de los botones */
.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-warning {
    background-color: #f0ad4e;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

/* Hover effect */
button:hover {
    opacity: 0.8;
}
